
h1 {
    text-align: center;
}
body{
    /*background-color: darkblue;*/
    background-image: url(images/background-pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    color: white;  
}

.paragraph {
    padding: 80px ;
}

img{
    width: 150px;
    box-shadow: 2px 5px 5px salmon;
    border-radius: 15%;
    border: 2px solid salmon;
}

img {
    transition: transform 0.5s ease; /* Adds a smooth transition effect */
  }
  
  img:hover {
    transform: scale(1.2); /* Increases size by 20% when hovered */
  }
  



.cont{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: auto ;
    margin-top: 80px;
    padding: 10px;
}

/* Add a black background color to the top navigation */
.navbar {
    background-color: darkblue;
    overflow: hidden;
    border: 2px solid salmon;
    border-radius: 16px;
    box-shadow: 25px 20px 20px salmon;
    text-align: center;
    padding: 20px;
    transition: transform 0.5s ease;
  }

  .navbar:hover {
    transform: scale(1.2);
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transform: scale(1.2); 
    
    
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
    transform: scale(1.5);
  }
  
  /* Add an active class to highlight the current page */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .navbar .icon {
    display: none;
  }

  .aboutpage {
    background-image: url(images/background-pic.jpg);
    display: inline-block;
    margin: 70px 250px 0 ;
    padding-left: 7px;
    padding-top: 175px;
    padding-bottom: 50px;
    border: 2px solid salmon;
    text-align: center;
    box-shadow: 12px 12px 13px burlywood;
    border-radius: 390px;
    background-color: gray;
    transition: transform 0.5s ease;
    width: 480px;
    height: 280px;
    justify-content: center;
   
  }

  .aboutpage:hover {
    transform: scale(1.3);

  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}

@media screen and (min-width: 600px) {
    div.navbar{
      font-size: 20px;
    }
    .aboutpage {
        border-radius: 12px;
    }
  }
  
  @media screen and (max-width: 600px) {
    div.navbar{
      font-size: 16px;
    }
    div.cont {
        display: grid;
        grid-template-columns: auto;
        margin: auto ;
        margin-top: 40px;
        padding: 10px;
    }
    body {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;

    }
    .aboutpage {
        width: 460px;
        float: left;
        align-items: center;
        justify-content: center;
        padding-bottom: 75px;
        margin-left: 30px;
        margin-bottom: 0;
        float: left;
            
        }

        
    }

  
  